<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Class</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            
        }
        .createAssignmentButton{
            background-image: linear-gradient(to right, rgb(45 132 231), rgb(124 193 255), rgb(43 132 231));
            color: white;
            width: 8rem;
            border: none;
            height: 40px;
            border-radius: 2rem;
            font-weight: 600;
        }
        .createAssignmentButton:hover{
            cursor: pointer;
        }
        .scheduleClassButton{
            background-image: linear-gradient(to right, rgb(45 132 231), rgb(124 193 255), rgb(43 132 231));
            color: white;
            width: 7rem;
            border: none;
            height: 40px;
            border-radius: 2rem;
        }
        .scheduleClassButton:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="http://old.iitbhu.ac.in/icmc2018/apm/images/IITBHU-Logo.jpg" alt="iit_bhu_logo" class="single_heading_logo_img"/>
        <h3 class="heading_logo_text">IIT BHU</h3>
        <a href="#" id="createAssignment" class="add_assignment_icon">
            <img src="/images/assignmentDesign.jpg">
            <button class="createAssignmentButton">➕ Create Assignment</button>
        </a>
        <a href="#" id="scheduleClass" class="add_class_icon"><button class="scheduleClassButton">🕗 Schedule Class</button></a>
        <h3 class="login_icon">👍</h3>
    </div>
    {{{ body }}}
</body>

<script>
    const createAssignment = document.getElementById('createAssignment');
    const scheduleClass = document.getElementById('scheduleClass');
    createAssignment.href = location.pathname + '/create';
    scheduleClass.href = location.pathname + '/scheduleClass';
</script>
</html>
