<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Class</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            
        }
        
    </style>
</head>
<body>
    <div class="header">
        <img src="http://old.iitbhu.ac.in/icmc2018/apm/images/IITBHU-Logo.jpg" alt="iit_bhu_logo" class="heading_logo_img"/>
        <h3 class="heading_logo_text">IIT BHU</h3>
        <a href="#" id="createAssignment" class="add_assignment_icon">✔ Create Assignment</a>
        <a href="#" id="scheduleClass" class="add_class_icon">✔ Schedule Class</a>
        <h3 class="login_icon">👍</h3>
    </div>
    {{{ body }}}
</body>

<script>
    const createAssignment = document.getElementById('createAssignment');
    const scheduleClass = document.getElementById('scheduleClass');
    createAssignment.href = location.pathname + '/create';
    scheduleClass.href = location.pathname + '/scheduleClass';
</script>
</html>
