<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Class</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            
        }
        .createAssignmentButton{
            width: 3.3rem;
            height: 45px;
            font-weight: 600;
            position: absolute;
            right: 50%;
            top: 22%;
        }
        .createAssignmentButton:hover{
            cursor: pointer;
        }
        .scheduleClassButton{
            width: 3.3rem;
            height: 45px;
            font-weight: 600;
            position: absolute;
            right: 5%;
            top: 20%;

        }
        .scheduleClassButton:hover{
            cursor: pointer;
        }
        .assignmentAndClasses{
            position: absolute;
            top: 0%;
            right: 10%;
            width: 15rem;
            height: 5rem;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="http://old.iitbhu.ac.in/icmc2018/apm/images/IITBHU-Logo.jpg" alt="iit_bhu_logo" class="single_heading_logo_img"/>
        <h3 class="heading_logo_text">IIT BHU</h3>
        <div class="assignmentAndClasses">
        <a href="#" id="createAssignment" class="add_assignment_icon">
            <img src="/images/assignmentDesign.jpg" class="createAssignmentButton">
        </a>
        <a href="#" id="scheduleClass" class="add_class_icon">
            <img src="/images/classScheduleDesign.jpg" class="scheduleClassButton">
        </a>
        </div>
        <h3 class="login_icon">👍</h3>
    </div>
    {{{ body }}}
</body>

<script>
    const createAssignment = document.getElementById('createAssignment');
    const scheduleClass = document.getElementById('scheduleClass');
    createAssignment.href = location.pathname + '/create';
    scheduleClass.href = location.pathname + '/scheduleClass';
</script>
</html>
