<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div style="text-align: center;">
        <a href="/teacherDashboard/create">CREATE A NEW CLASS</a>
        <h3>Teacher is Logged In</h3>
    </div>
    <hr>
    {{{ body }}}
</body>
</html>