<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Dashboard</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            font-size: large;
        }
        body{
            background-color: rgb(224 229 231);
        }
        .header{
            display : flex;
            justify-content: flex-end;
            padding: 27px;
            box-shadow: 0 0 10px 1px gray;
            background-color: white;
            z-index: 1;
        }
        .addClassIcon{
            text-decoration: none;
            position: absolute;
            top: 2.3%;
            right: 8%;
        }
        .plusIcon{
            border-radius: 100%;
            padding: 10px;
        }
        .plusIcon:hover{
            background-color: rgba(0, 0, 0, 0.384);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.285);
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="http://old.iitbhu.ac.in/icmc2018/apm/images/IITBHU-Logo.jpg" alt="iit_bhu_logo" class="teacher_heading_logo_img"/>
        <h3 class="heading_logo_text">IIT BHU</h3>
        <a href="/teacherDashboard/create" class="addClassIcon">
        <img src="https://www.downloadclipart.net/large/plus-transparent-png.png" class="plusIcon" name="submit" width="31" height="35" alt="plus"/>
        </a>
        
        <input type="image" id='image' src="#" class="plusIcon" name="submit" width="31" height="35" alt="submit"/>  
        <h3 class="login_icon">👍</h3>
    </div>
    <script>
        // %3A - :
        // %2F - /
        // %3D - =

        let imageLink = document.cookie.split(';')[6].split('=')[1];
        imageLink = imageLink.replaceAll("%3A", ":");
        imageLink = imageLink.replaceAll("%2F", "/");
        imageLink = imageLink.replaceAll("%3D", "=");

        const image = document.getElementById('image');
        image.src = imageLink;
        console.log(imageLink);
        
    </script>
    {{{ body }}}
</body>
</html>