<style>
    .mainContainer{
        display: flex;
        justify-content: center;
        height: 30%;
        width: 100%;
    }
    .subjectContainer{
        height: 100%;
        width: 60%;
        text-align: left;
        color: white;
        margin: 40px;
        border-radius: 10px;
        background-image: url('https://www.gstatic.com/classroom/themes/img_backtoschool.jpg');
        font-family: cursive;
        padding: 20px;
    }
</style>


{{#each allAssignments}}

    <h3>{{this.title}}</h3>
    <h3>{{this.description}}</h3>
    <br>
    
{{/each}}
<div class="mainContainer">

    <div class="subjectContainer">
        <h2>Subject</h2>
        <h2>Total strength</h2>
        <h2>Meet link</h2> 
    </div>
</div>

