<div style="text-align: center;">
    <h4>Form To Create Class</h4>

    <form action="/teacherDashboard/create" method="POST">
        <input type="text" name="className" placeholder="Class Name"> 
        <br>
        <textarea name="classDescription" id="classDescription" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="Create Class">
    </form>
</div>