<style>
    .btn{
        padding: 5px;
        border-radius: 5px;
        background-color: aquamarine;
        border: none;
        width: 150px;
        height: 40px;
    }
    .btn:hover{
        cursor: pointer;
        box-shadow: 0px 0px 4px 2px rgb(79, 211, 167);
    }
    .margin{
        margin: 10px;
    }
    .className{
        padding: 7px;
        border-radius: 5px;
    }
    .formContainer{
        margin-top: 8%;
    }
    .textArea{
        border-radius: 5px;
    }
</style>
<div style="text-align: center;" class="formContainer margin">
    <h2>Form To Create Class</h2>

    <form action="/teacherDashboard/create" method="POST" class="margin">
        <input type="text" name="className" placeholder="Class Name" class="margin className"> 
        <br>
        <textarea name="classDescription" id="classDescription" cols="30" rows="10" class="margin textArea"></textarea>
        <br>
        <input type="submit" value="Create Class" class="btn margin">
    </form>
</div>