<style>
    body{
        background-image: linear-gradient(#fad19b,#1a2a2e);
    }
</style>
<div style="text-align: center;" class="createClassContainer ">

    <img src="https://cdn.shopify.com/s/files/1/0987/4294/products/online-learning-4_382bb79e-ba35-4d00-91cc-072c7dc824d6.jpg?v=1608246571" alt="classroomImage" class="imgCreateClass">

    <div class="formContainer1">
        <h2 class="headingH2" style="margin-bottom: 15px;">Form To Create Class</h2>
    <form action="/teacherDashboard/create" method="POST" class="margin">
        <input type="text" name="className" placeholder="Class Name" class="margin className"> 
        <br>
        <textarea name="classDescription" placeholder="Class Description" id="classDescription" cols="30" rows="10" class="margin textArea"></textarea>
        <br>
        <input type="submit" value="Create Class" class="btn margin">
    </form>
    </div>
</div>